body {
    padding: 30px;;
}

h1 small {
    display: block;
    font-size: 14px;
    font-weight: 400;
}

.component {
    margin: 20px 0;
    border:1px dashed #d3d3d3;
    padding: 20px;
}

.component h3 {
    margin: 0 0 10px 0;
    padding: 0;
}

.component button {
    margin-right: 1%;
    border: 1px dashed #d3d3d3;
    padding: 10px;
    min-width: 49%;
}

.stats {
    margin: 40px 0;
}